---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1 class="text-3xl sm:text-5xl mt-28 sm:mt-30 mb-12 font-bold">👋 Hi, I'm Martin</h1>
  <p class="mb-6">
    I'm a software engineer with over a decade of
    experience building applications for the web.
  </p>
  <p class="mb-6">
    I wrote my first line of code in 2010. I've since taken dozens of
    web apps from conception to production, becoming fluent in a broad range
    of web technologies along the way.
  </p>
  <p class="mb-6">
    I've shipped a lot of Ruby, Rails, Javascript, Typescript, and C++. More
    recently, I've been building with WebAssembly, focusing on how it expands
    the browser's capabilities. I've been especially interested in porting
    applications to the browser using WebAssembly. I’m constantly tinkering with
    new (to me) tech.
  </p>
  <p class="mb-6">
    I’m currently the Lead Software Engineer at 
  <a class="text-red-500 dark:text-red-400" href="https://drs.software/">DRS Software</a>,
    where we build advanced web applications and support organisations in
    modernising their existing software using Wasm. 
  </p>

</Layout>
