---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1 class="text-3xl sm:text-5xl mt-28 sm:mt-40 mb-12 font-bold">👋 Hi, I'm Martin</h1>
  <p class="mb-6">
    I'm a software engineer with over a decade of
    experience building applications for the web.
  </p>
  <p class="mb-6">
    I wrote my first line of code in 2010. I've since taken dozens of
    web apps from conception to production, becoming fluent in a broad range
    of web technologies along the way.
  </p>
  <p class="mb-6">
    I've shipped a lot of <span class="text-red-500 dark:text-red-400">Ruby,
      Rails, Javascript, Typescript, and C++</span>. I’m a huge fan of
    <span class="text-red-500 dark:text-red-400">WebAssembly</span> too, and have tackled multiple interesting projects in
    that area. I’m constantly tinkering with new (to me)
    tech.
  </p>
  <p class="mb-6">
    I’m currently a Lead Software Engineer at 
    <span class="text-red-500 dark:text-red-400">DRS Software</span>,
    where we consult with businesses to solve interesting and complex problems
    with software.
  </p>

</Layout>
