---
import { Icon } from 'astro-icon/components';
import Link from './Link.astro';
---
<div class="flex justify-center mt-16 mb-16 flex-wrap">
  <div class="px-4">
    <Link href="https://github.com/Martin-Nyaga" target="_blank" class="inline-flex items-center"> 
      <Icon name="mdi:github" size="30"/>
      <span class="pl-2">Github</span>
    </Link>
  </div>
  <div class="px-4">
    <Link href="https://www.linkedin.com/in/martin-nyaga/" target="_blank" class="inline-flex items-center"> 
      <Icon name="mdi:linkedin" size="30"/>
      <span class="pl-2">LinkedIn</span>
    </Link>
  </div>
  <div class="px-4">
    <Link href="https://dev.to/martinnyaga" target="_blank" class="inline-flex items-center"> 
      <Icon name="mdi:dev-to" size="30"/>
      <span class="pl-2">dev.to</span>
    </Link>
  </div>
</div>

