---
import { Icon } from 'astro-icon/components';
---
<footer class="site-footer icon-links">
  <a class="icon-link" href="https://github.com/Martin-Nyaga" target="_blank" rel="noopener">
    <Icon name="mdi:github" size="18" />
    <span>GitHub</span>
  </a>
  <span class="sep">·</span>
  <a class="icon-link" href="https://www.linkedin.com/in/martin-nyaga/" target="_blank" rel="noopener">
    <Icon name="mdi:linkedin" size="18" />
    <span>LinkedIn</span>
  </a>
</footer>
