---
---
<footer class="site-footer">
  <a href="https://github.com/Martin-Nyaga" target="_blank">GitHub</a>
  <span class="sep">·</span>
  <a href="https://www.linkedin.com/in/martin-nyaga/" target="_blank">LinkedIn</a>
</footer>
