---
import ThemeIcon from './ThemeIcon.astro';
import { Icon } from 'astro-icon/components';
---
<style>
  [x-cloak] { display: none !important; }
</style>
<nav class="site-nav" x-data="{ open: false }">
  <a class="brand" href="/">Martin Nyaga</a>

  <button class="nav-toggle" @click="open = !open" aria-label="Toggle menu">
    <Icon name="material-symbols:menu-rounded" size="24" />
  </button>

  <div class="nav-links" :data-open="open ? 'true' : 'false'">
    <a href="/#open-source" @click="open = false">Open source</a>
    <ThemeIcon />
  </div>
</nav>
